<center>
  <form method="post" style="width:600px">
    <div class="row">
    <div class="col24s m12">
      <div class="ffffff">
             <div class="card-content black-text">
                <h1>Editing Blog</h1>

                <%= render 'form' %>

                <%= link_to 'Show', @blog ,class:"waves-effect waves-light btn"%> |
                <%= link_to 'Back', blogs_path ,class:"waves-effect waves-light btn"%>
              </div>
            </div>
          </div>
        </div>
      </form>
    </center>
